{% extends "layout.html.twig" %}

{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#links" data-toggle="tab">Links</a></li>
            <li><a href="#users" data-toggle="tab">Users</a></li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <!-- Links Tab -->
    <div class="tab-pane fade in active adminTable" id="links">
        <a href="{{ path('admin_link_add') }}">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Add link
            </button>
        </a>

        {% if links %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th></th> <!-- Actions column -->
                    </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                    <tr>
                        <td><a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></td>
                        <td>{{ link.user.username }}</td>
                        <td>{{ link.desc | truncate(60) }}</td>
                        <td>
                            <a href="{{ path('admin_link_edit', { 'id': link.id }) }}" class="btn btn-info btn-sm" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button type="button" class="btn btn-danger btn-sm" title="Delete" data-toggle="modal" data-target="#linkDialog{{ link.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                            <!-- Modal for Deletion -->
                            <div class="modal fade" id="linkDialog{{ link.id }}" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel{{ link.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title" id="linkModalLabel{{ link.id }}">Confirm Deletion</h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this link?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a href="{{ path('admin_link_delete', { 'id': link.id }) }}" class="btn btn-danger">Confirm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No links found.</div>
        {% endif %}
    </div>

    <!-- Users Tab -->
    <div class="tab-pane fade adminTable" id="users">
        <a href="{{ path('admin_user_add') }}">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Add user
            </button>
        </a>

        {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th> <!-- Actions column -->
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-sm" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button type="button" class="btn btn-danger btn-sm" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                            <!-- Modal for User Deletion -->
                            <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="userModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title" id="userModalLabel{{ user.id }}">Confirm Deletion</h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this user?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No users found.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
